---
import Layout from '@layouts/Layout.astro';
import { getChampions } from '@services/riot';
import { parseToArray } from '@utils/object';

const dataOfChampions = await getChampions()
const champions = parseToArray(dataOfChampions)

---

<Layout title="Welcome to Astro.">
	<main>
		{
			champions?.map((champion) => (
				<span>{champion.name}</span>
			))
		}
	</main>
</Layout>
