---
import ChampionSplash from '@components/ChampionSplash.astro';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import { getChampions } from '@services/riot';
import { parseToArray } from '@utils/object';

const dataOfChampions = await getChampions()
const champions = parseToArray(dataOfChampions)

---

<Layout title="League of Legends champions">
	<Main>
    <div class="flex flex-wrap justify-center">
      {
        champions?.map((champion, index) => (
          <div class="p-5">
            <ChampionSplash champion={champion} isLazy={index > 10} />
          </div>
        ))
      }
    </div>
	</Main>
</Layout>
